## DB-API and SQL Magic: storing pandas dataframes to MySQL and performing query

### Summary
This notebook is a demonstration of DB-API and SQL Magic techniques. 

We have created four csv files, 'G03B_attributes_centrality.csv', 'G03B_global_indicators.csv', 'G03F_attributes_centrality.csv', 'G03F_global_indicators.csv', about patent assignee's attribute and citation network characteristics in notebook 'G03B_patent_citation_network.ipynb' and 'G03F_patent_citation_network.ipynb'. 

Now we would like to store these data in a relational DBMS like MySQL, using DB-API to connect to MySQL database from python. The goal is to create a new schema in MySQL, and create new tables to store those tabular data mentioned above. And then, we will utilize SQL Magic to perform SQL queries in jupyter lab to do some simple data exploration.

### Prepare DataFrames

First, load 'G03B_attributes_centrality.csv', 'G03B_global_indicators.csv', 'G03F_attributes_centrality.csv', 'G03F_global_indicators.csv'.

In [61]:
import pandas as pd

B_node = pd.read_csv(r"C:\Users\user\Documents\G03B_attributes_centrality.csv", index_col=0)
B_global = pd.read_csv(r"C:\Users\user\Documents\G03B_global_indicators.csv", index_col=0)
F_node = pd.read_csv(r"C:\Users\user\Documents\G03F_attributes_centrality.csv", index_col=0)
F_global = pd.read_csv(r"C:\Users\user\Documents\G03F_global_indicators.csv", index_col=0)

In [62]:
# transpose B_global and F_global df
B_global = B_global.T
F_global = F_global.T

# set 'id' for B_node and F_node df
B_node['id'] = list(range(len(B_node))) +1
F_node['id'] = list(range(len(F_node))) +1

# move 'id' column to the first column
a = B_node.iloc[:,0:-1]
b = B_node.loc[:,'id']
B_node = pd.concat([b,a], axis = 1)

a = F_node.iloc[:,0:-1]
b = F_node.loc[:,'id']
F_node = pd.concat([b,a], axis = 1)

# replace na in B_node and F_node to 0
B_node = B_node.fillna(0)
F_node = F_node.fillna(0)

### Using DB-API to connect to MySQL

#### Create New Database in MySQL

In [48]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host = '127.0.0.1',
    user="root",
    password="mysqlpassword" # change password
)

# Create a cursor object
cursor = conn.cursor()

# Create 'Patent_Citation_Network' database
cursor.execute("CREATE DATABASE Patent_Citation_Network")

# Use the new database
cursor.execute("USE Patent_Citation_Network")

# Close the connection
cursor.close()
conn.close()

#### Create New Tables in the Database

In [70]:
# Reconnect to the database
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="mysqlpassword", # change password
    database="Patent_Citation_Network"
)

# Create a cursor object
cursor = conn.cursor()

In [95]:
# Create tables
cursor.execute("""
CREATE TABLE G03B_attributes_centrality (
    id INT PRIMARY KEY,
    專利權人 VARCHAR(100),
    專利件數 INT(5), 
    他人引證次數 INT(5),
    自我引證次數 INT(5),
    發明人數 INT(5),
    平均專利年齡 INT(2),
    活動年期 INT(2),
    相對研發能力 DECIMAL(5,3),
    國家 VARCHAR(30),
    時期 VARCHAR(9),
    indegree DECIMAL(7,5),
    closeness DECIMAL(7,5),
    betweenness DECIMAL(7,5),
    harmonic DECIMAL(7,5),
    eigenvector DECIMAL(7,5),
    katz DECIMAL(7,5),
    pagerank DECIMAL(7,5),
    laplacian DECIMAL(7,5)
)
""")

cursor.execute("""
CREATE TABLE G03B_global_indicators (
    period VARCHAR(9) PRIMARY KEY,
    node_num INT,
    edge_num INT,
    graph_density DECIMAL(7,5),
    bidirected_num INT,
    triad_030T_num INT,
    triad_030C_num INT,
    wcc_num INT,
    largest_wcc_node_num INT,
    largest_wcc_edge_num INT,
    diameter_undirected_largest_wcc INT,
    gcc DECIMAL(7,5),
    power_law_alpha DECIMAL(7,5)
)
""")

cursor.execute("""
CREATE TABLE G03F_attributes_centrality (
    id INT PRIMARY KEY,
    專利權人 VARCHAR(100),
    專利件數 INT(5), 
    他人引證次數 INT(5),
    自我引證次數 INT(5),
    發明人數 INT(5),
    平均專利年齡 INT(2),
    活動年期 INT(2),
    相對研發能力 DECIMAL(5,3),
    國家 VARCHAR(30),
    時期 VARCHAR(9),
    indegree DECIMAL(7,5),
    closeness DECIMAL(7,5),
    betweenness DECIMAL(7,5),
    harmonic DECIMAL(7,5),
    eigenvector DECIMAL(7,5),
    katz DECIMAL(7,5),
    pagerank DECIMAL(7,5),
    laplacian DECIMAL(7,5)
)
""")

cursor.execute("""
CREATE TABLE G03F_global_indicators (
    period VARCHAR(9) PRIMARY KEY,
    node_num INT,
    edge_num INT,
    graph_density DECIMAL(7,5),
    bidirected_num INT,
    triad_030T_num INT,
    triad_030C_num INT,
    wcc_num INT,
    largest_wcc_node_num INT,
    largest_wcc_edge_num INT,
    diameter_undirected_largest_wcc INT,
    gcc DECIMAL(7,5),
    power_law_alpha DECIMAL(7,5)
)
""")

In [96]:
# Insert DataFrame data into the tables
for _, row in B_node.iterrows():
    cursor.execute("INSERT INTO G03B_attributes_centrality (id, 專利權人, 專利件數, 他人引證次數, 自我引證次數, 發明人數, 平均專利年齡, 活動年期, 相對研發能力, 國家, 時期, indegree, closeness, betweenness, harmonic, eigenvector, katz, pagerank, laplacian) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
                   , (row['id'], row['專利權人'], row['專利件數'], row['他人引證次數'], row['自我引證次數'], row['發明人數'], row['平均專利年齡'], row['活動年期'], row['相對研發能力'], row['國家'], row['時期'], row['indegree'], row['closeness'], row['betweenness'], row['harmonic'], row['eigenvector'], row['katz'], row['pagerank'], row['laplacian']))

for _, row in B_global.iterrows():
    cursor.execute("INSERT INTO G03B_global_indicators (period, node_num, edge_num, graph_density, bidirected_num, triad_030T_num, triad_030C_num, wcc_num, largest_wcc_node_num, largest_wcc_edge_num, diameter_undirected_largest_wcc, gcc, power_law_alpha) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
                   , (row['period'], row['node_num'], row['edge_num'], row['graph_density'], row['bidirected_num'], row['triad_030T_num'], row['triad_030C_num'], row['wcc_num'], row['largest_wcc_node_num'], row['largest_wcc_edge_num'], row['diameter_undirected_largest_wcc'], row['gcc'], row['power_law_alpha']))

for _, row in F_node.iterrows():
    cursor.execute("INSERT INTO G03F_attributes_centrality (id, 專利權人, 專利件數, 他人引證次數, 自我引證次數, 發明人數, 平均專利年齡, 活動年期, 相對研發能力, 國家, 時期, indegree, closeness, betweenness, harmonic, eigenvector, katz, pagerank, laplacian) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
                   , (row['id'], row['專利權人'], row['專利件數'], row['他人引證次數'], row['自我引證次數'], row['發明人數'], row['平均專利年齡'], row['活動年期'], row['相對研發能力'], row['國家'], row['時期'], row['indegree'], row['closeness'], row['betweenness'], row['harmonic'], row['eigenvector'], row['katz'], row['pagerank'], row['laplacian']))

for _, row in F_global.iterrows():
    cursor.execute("INSERT INTO G03F_global_indicators (period, node_num, edge_num, graph_density, bidirected_num, triad_030T_num, triad_030C_num, wcc_num, largest_wcc_node_num, largest_wcc_edge_num, diameter_undirected_largest_wcc, gcc, power_law_alpha) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
                   , (row['period'], row['node_num'], row['edge_num'], row['graph_density'], row['bidirected_num'], row['triad_030T_num'], row['triad_030C_num'], row['wcc_num'], row['largest_wcc_node_num'], row['largest_wcc_edge_num'], row['diameter_undirected_largest_wcc'], row['gcc'], row['power_law_alpha']))


# Commit the changes
conn.commit()

# Close the connection
cursor.close()
conn.close()

### Using Jupyter Notebook %sql Magic to perform SQL Queries

In [2]:
# Load SQL extension
%load_ext sql

# Connect to the database using SQL magic
%sql mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network  # change password in ***

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
0 rows affected.

[]

In [3]:
%%sql
SHOW TABLES;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
4 rows affected.

[('g03b_attributes_centrality',),
 ('g03b_global_indicators',),
 ('g03f_attributes_centrality',),
 ('g03f_global_indicators',)]

Create a View to combine global indicator tables from G03B and G03F.

In [6]:
%%sql
CREATE VIEW combined_global_indicators AS
SELECT *, 'G03B' AS ipc
FROM g03b_global_indicators
UNION ALL
SELECT *, 'G03F' AS ipc
FROM g03f_global_indicators;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
0 rows affected.

[]

In [9]:
%%sql
SELECT * FROM combined_global_indicators
ORDER BY period;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
8 rows affected.

[('2004_2008', 51, 57, Decimal('0.02235'), 10, 5, 0, 14, 36, 55, 7, Decimal('0.17368'), Decimal('2.70789'), 'G03B'),
 ('2004_2008', 20, 11, Decimal('0.02895'), 2, 1, 0, 11, 8, 9, 3, Decimal('0.18750'), Decimal('4.98916'), 'G03F'),
 ('2009_2013', 88, 364, Decimal('0.04754'), 146, 79, 20, 11, 77, 363, 5, Decimal('0.44542'), Decimal('8.23250'), 'G03B'),
 ('2009_2013', 44, 124, Decimal('0.06554'), 38, 27, 5, 3, 42, 124, 5, Decimal('0.33086'), Decimal('5.36053'), 'G03F'),
 ('2014_2018', 72, 153, Decimal('0.02993'), 48, 34, 3, 15, 49, 136, 6, Decimal('0.36440'), Decimal('2.45072'), 'G03B'),
 ('2014_2018', 40, 116, Decimal('0.07436'), 40, 25, 1, 7, 34, 116, 4, Decimal('0.38897'), Decimal('9.05054'), 'G03F'),
 ('2019_2022', 42, 45, Decimal('0.02613'), 12, 6, 3, 19, 24, 45, 6, Decimal('0.29508'), Decimal('3.09218'), 'G03B'),
 ('2019_2022', 34, 53, Decimal('0.04724'), 16, 8, 1, 7, 27, 52, 6, Decimal('0.32086'), Decimal('3.03292'), 'G03F')]

Show the evolving number of assignees for each country throughout the four periods, ordered by the number of fourth period, limiting to top 5 countries.

The number of Taiwanese firms takes the third place throughout all periods. The first place is always US, and second always Japan. The number of Chinese firms have a rising trend and surpassed the number of Korean firms in this field.

In [124]:
%%sql
SELECT 國家, 
    SUM(CASE WHEN 時期 = '2004_2008' THEN 1 ELSE 0 END) AS period_1, 
    SUM(CASE WHEN 時期 = '2009_2013' THEN 1 ELSE 0 END) AS period_2, 
    SUM(CASE WHEN 時期 = '2014_2018' THEN 1 ELSE 0 END) AS period_3,
    SUM(CASE WHEN 時期 = '2019_2022' THEN 1 ELSE 0 END) AS period_4
FROM g03b_attributes_centrality
GROUP BY 國家
ORDER BY period_4 DESC
LIMIT 5;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
5 rows affected.

[('US', Decimal('36'), Decimal('42'), Decimal('40'), Decimal('30')),
 ('JP', Decimal('28'), Decimal('31'), Decimal('28'), Decimal('24')),
 ('TW', Decimal('8'), Decimal('10'), Decimal('10'), Decimal('9')),
 ('CN', Decimal('1'), Decimal('4'), Decimal('6'), Decimal('6')),
 ('KR', Decimal('4'), Decimal('4'), Decimal('4'), Decimal('4'))]

Find all Taiwanese assignees in the last period and rank them with number of patents.

Coretronic(中強光電) have the most patents among all Taiwanese G03B patent assignees, TSMC is the second. Coretronic have all attributes and centralities way higher than all other Taiwanese firms in this technology field.

In [5]:
%%sql
SELECT * FROM g03b_attributes_centrality
WHERE 國家 = 'TW'
AND 時期 = '2019_2022'
ORDER BY 專利件數 DESC;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
9 rows affected.

[(288, 'CORETRONIC', 238, 14, 28, 179, 2, 4, Decimal('0.910'), 'TW', '2019_2022', Decimal('0.12195'), Decimal('0.14347'), Decimal('0.05422'), Decimal('7.16667'), Decimal('0.37631'), Decimal('0.22272'), Decimal('0.09382'), Decimal('0.10612')),
 (300, 'TAIWAN SEMICONDUCTOR MANUFACTURING', 32, 0, 1, 78, 3, 3, Decimal('0.150'), 'TW', '2019_2022', Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.13130'), Decimal('0.01190'), Decimal('0.05502')),
 (303, 'QISDA', 27, 0, 0, 42, 2, 4, Decimal('0.110'), 'TW', '2019_2022', Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.13130'), Decimal('0.01190'), Decimal('0.05308')),
 (307, 'TDK TAIWAN CORP', 24, 2, 2, 38, 2, 4, Decimal('0.100'), 'TW', '2019_2022', Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.13130'), Decimal('0.01190'), Decimal('0.05502')),
 (313, 'DELTA ELECTRONICS', 16, 3, 0, 19, 2, 4, Decimal('0.070'), 'TW', '2019_2022', Decimal('0.07317'), Decimal('0.12837'), Decimal('0.00330'), Decimal('6.16667'), Decimal('0.27139'), Decimal('0.19153'), Decimal('0.04186'), Decimal('0.07332')),
 (329, 'BENQ', 8, 1, 0, 6, 2, 4, Decimal('0.030'), 'TW', '2019_2022', Decimal('0.02439'), Decimal('0.08130'), Decimal('0.00000'), Decimal('4.03333'), Decimal('0.06229'), Decimal('0.14857'), Decimal('0.01839'), Decimal('0.05456')),
 (339, 'YOUNG OPTICS', 5, 1, 0, 10, 2, 4, Decimal('0.020'), 'TW', '2019_2022', Decimal('0.02439'), Decimal('0.10540'), Decimal('0.00000'), Decimal('5.00000'), Decimal('0.11363'), Decimal('0.15357'), Decimal('0.01759'), Decimal('0.06086')),
 (332, 'HON HAI PRECISION INDUSTRY', 4, 0, 0, 7, 2, 3, Decimal('0.020'), 'TW', '2019_2022', Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000')),
 (358, 'INDUSTRIAL TECHNOLOGY RESEARCH INSTITUTE', 1, 0, 0, 2, 1, 1, Decimal('0.000'), 'TW', '2019_2022', Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'), Decimal('0.00000'))]

Show the top 10 assignees of the entire field according to number of patents.

Coretronic from Taiwan is on the third place. ASML from Netherland is on the fifth place. The eighth and tenth are Chinese firms. All other firms in top 10 were Japanese firms. The top 1 and 2 were Seiko Epson and Canon.

In [14]:
%%sql
SELECT 專利權人, 專利件數, 國家, 時期 FROM g03b_attributes_centrality
WHERE 時期 = '2019_2022'
ORDER BY 專利件數 DESC
LIMIT 10;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
10 rows affected.

[('SEIKO EPSON', 264, 'JP', '2019_2022'),
 ('CANON', 241, 'JP', '2019_2022'),
 ('CORETRONIC', 238, 'TW', '2019_2022'),
 ('SONY', 132, 'JP', '2019_2022'),
 ('ASML NETHERLANDS', 122, 'NL', '2019_2022'),
 ('FUJIFILM', 94, 'JP', '2019_2022'),
 ('PANASONIC', 85, 'JP', '2019_2022'),
 ('SZ DJI TECHNOLOGY', 72, 'CN', '2019_2022'),
 ('NIKON', 61, 'JP', '2019_2022'),
 ('APPOTRONICS', 49, 'CN', '2019_2022')]

Find the firm with the highest betweenness centrality in each period.

In [132]:
%%sql
SELECT 專利權人, 時期, 國家, betweenness 
FROM g03b_attributes_centrality AS t1
WHERE betweenness = (SELECT MAX(betweenness) 
                     FROM g03b_attributes_centrality AS t2
                     WHERE t1.時期 = t2.時期);

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
4 rows affected.

[('SEIKO EPSON', '2004_2008', 'JP', Decimal('0.07714')),
 ('SEIKO EPSON', '2009_2013', 'JP', Decimal('0.14626')),
 ('SEIKO EPSON', '2014_2018', 'JP', Decimal('0.04594')),
 ('CORETRONIC', '2019_2022', 'TW', Decimal('0.05422'))]

Find the firm with the highest eigenvector centrality in each period.

In [133]:
%%sql
SELECT 專利權人, 時期, 國家, eigenvector 
FROM g03b_attributes_centrality AS t1
WHERE eigenvector = (SELECT MAX(eigenvector) 
                     FROM g03b_attributes_centrality AS t2
                     WHERE t1.時期 = t2.時期);

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
4 rows affected.

[('ASML NETHERLANDS', '2004_2008', 'NL', Decimal('0.53077')),
 ('SEIKO EPSON', '2009_2013', 'JP', Decimal('0.31796')),
 ('CASIO COMPUTER', '2014_2018', 'JP', Decimal('0.41342')),
 ('SEIKO EPSON', '2019_2022', 'JP', Decimal('0.46529'))]

Find the firm with the highest pagerank centrality in each period.

In [134]:
%%sql
SELECT 專利權人, 時期, 國家, pagerank 
FROM g03b_attributes_centrality AS t1
WHERE pagerank = (SELECT MAX(pagerank) 
                     FROM g03b_attributes_centrality AS t2
                     WHERE t1.時期 = t2.時期);

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
4 rows affected.

[('ASML NETHERLANDS', '2004_2008', 'NL', Decimal('0.08786')),
 ('NIKON', '2009_2013', 'JP', Decimal('0.12352')),
 ('PANASONIC', '2014_2018', 'JP', Decimal('0.05765')),
 ('CORETRONIC', '2019_2022', 'TW', Decimal('0.09382'))]

Find the firm with the highest laplacian centrality in each period.

In [135]:
%%sql
SELECT 專利權人, 時期, 國家, laplacian 
FROM g03b_attributes_centrality AS t1
WHERE laplacian = (SELECT MAX(laplacian) 
                     FROM g03b_attributes_centrality AS t2
                     WHERE t1.時期 = t2.時期);

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
4 rows affected.

[('ASML NETHERLANDS', '2004_2008', 'NL', Decimal('0.09472')),
 ('SEIKO EPSON', '2009_2013', 'JP', Decimal('0.05580')),
 ('DAI NIPPON PRINTING', '2014_2018', 'JP', Decimal('0.06364')),
 ('CORETRONIC', '2019_2022', 'TW', Decimal('0.10612'))]

We found that, in the last period, although Coretronic didn't have the highest number of patents, but it had the highest betweenness, pagerank and laplacian centrality in the citation network among firms. This indicates that Coretronic was holding a real dominant position in this technology field, not only in the sense of numbers, but also in the sense of network.