## DB-API and SQL Magic: storing pandas dataframes to MySQL and performing query

### Summary
This notebook demonstrates DB-API and SQL Magic techniques.

We have created four CSV files: 'G03B_attributes_centrality.csv', 'G03B_global_indicators.csv', 'G03F_attributes_centrality.csv', and 'G03F_global_indicators.csv'. These files contain data on patent assignee attributes and citation network characteristics, generated from the notebooks 'G03B_patent_citation_network.ipynb' and 'G03F_patent_citation_network.ipynb'.

Our objective is to store this data in a relational DBMS like MySQL. We will use the DB-API to connect to a MySQL database from Python, create a new schema in MySQL, and create tables to store the aforementioned tabular data. Subsequently, we will utilize SQL Magic to perform SQL queries in JupyterLab for simple data exploration.

### Prepare DataFrames

First, load 'G03B_attributes_centrality.csv', 'G03B_global_indicators.csv', 'G03F_attributes_centrality.csv', 'G03F_global_indicators.csv'.

In [61]:
import pandas as pd

B_node = pd.read_csv(r"C:\Users\user\Documents\G03B_attributes_centrality.csv", index_col=0)
B_global = pd.read_csv(r"C:\Users\user\Documents\G03B_global_indicators.csv", index_col=0)
F_node = pd.read_csv(r"C:\Users\user\Documents\G03F_attributes_centrality.csv", index_col=0)
F_global = pd.read_csv(r"C:\Users\user\Documents\G03F_global_indicators.csv", index_col=0)

In [62]:
# transpose B_global and F_global df
B_global = B_global.T
F_global = F_global.T

# set 'id' for B_node and F_node df
B_node['id'] = list(range(len(B_node))) +1
F_node['id'] = list(range(len(F_node))) +1

# move 'id' column to the first column
a = B_node.iloc[:,0:-1]
b = B_node.loc[:,'id']
B_node = pd.concat([b,a], axis = 1)

a = F_node.iloc[:,0:-1]
b = F_node.loc[:,'id']
F_node = pd.concat([b,a], axis = 1)

# replace na in B_node and F_node to 0
B_node = B_node.fillna(0)
F_node = F_node.fillna(0)

### Using DB-API to connect to MySQL

#### Create New Database in MySQL

In [48]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host = '127.0.0.1',
    user="root",
    password="mysqlpassword" # change password
)

# Create a cursor object
cursor = conn.cursor()

# Create 'Patent_Citation_Network' database
cursor.execute("CREATE DATABASE Patent_Citation_Network")

# Use the new database
cursor.execute("USE Patent_Citation_Network")

# Close the connection
cursor.close()
conn.close()

#### Create New Tables in the Database

In [70]:
# Reconnect to the database
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="mysqlpassword", # change password
    database="Patent_Citation_Network"
)

# Create a cursor object
cursor = conn.cursor()

In [95]:
# Create tables
cursor.execute("""
CREATE TABLE G03B_attributes_centrality (
    id INT PRIMARY KEY,
    專利權人 VARCHAR(100),
    專利件數 INT(5), 
    他人引證次數 INT(5),
    自我引證次數 INT(5),
    發明人數 INT(5),
    平均專利年齡 INT(2),
    活動年期 INT(2),
    相對研發能力 DECIMAL(5,3),
    國家 VARCHAR(30),
    時期 VARCHAR(9),
    indegree DECIMAL(7,5),
    closeness DECIMAL(7,5),
    betweenness DECIMAL(7,5),
    harmonic DECIMAL(7,5),
    eigenvector DECIMAL(7,5),
    katz DECIMAL(7,5),
    pagerank DECIMAL(7,5),
    laplacian DECIMAL(7,5)
)
""")

cursor.execute("""
CREATE TABLE G03B_global_indicators (
    period VARCHAR(9) PRIMARY KEY,
    node_num INT,
    edge_num INT,
    graph_density DECIMAL(7,5),
    bidirected_num INT,
    triad_030T_num INT,
    triad_030C_num INT,
    wcc_num INT,
    largest_wcc_node_num INT,
    largest_wcc_edge_num INT,
    diameter_undirected_largest_wcc INT,
    gcc DECIMAL(7,5),
    power_law_alpha DECIMAL(7,5)
)
""")

cursor.execute("""
CREATE TABLE G03F_attributes_centrality (
    id INT PRIMARY KEY,
    專利權人 VARCHAR(100),
    專利件數 INT(5), 
    他人引證次數 INT(5),
    自我引證次數 INT(5),
    發明人數 INT(5),
    平均專利年齡 INT(2),
    活動年期 INT(2),
    相對研發能力 DECIMAL(5,3),
    國家 VARCHAR(30),
    時期 VARCHAR(9),
    indegree DECIMAL(7,5),
    closeness DECIMAL(7,5),
    betweenness DECIMAL(7,5),
    harmonic DECIMAL(7,5),
    eigenvector DECIMAL(7,5),
    katz DECIMAL(7,5),
    pagerank DECIMAL(7,5),
    laplacian DECIMAL(7,5)
)
""")

cursor.execute("""
CREATE TABLE G03F_global_indicators (
    period VARCHAR(9) PRIMARY KEY,
    node_num INT,
    edge_num INT,
    graph_density DECIMAL(7,5),
    bidirected_num INT,
    triad_030T_num INT,
    triad_030C_num INT,
    wcc_num INT,
    largest_wcc_node_num INT,
    largest_wcc_edge_num INT,
    diameter_undirected_largest_wcc INT,
    gcc DECIMAL(7,5),
    power_law_alpha DECIMAL(7,5)
)
""")

In [96]:
# Insert DataFrame data into the tables
for _, row in B_node.iterrows():
    cursor.execute("INSERT INTO G03B_attributes_centrality (id, 專利權人, 專利件數, 他人引證次數, 自我引證次數, 發明人數, 平均專利年齡, 活動年期, 相對研發能力, 國家, 時期, indegree, closeness, betweenness, harmonic, eigenvector, katz, pagerank, laplacian) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
                   , (row['id'], row['專利權人'], row['專利件數'], row['他人引證次數'], row['自我引證次數'], row['發明人數'], row['平均專利年齡'], row['活動年期'], row['相對研發能力'], row['國家'], row['時期'], row['indegree'], row['closeness'], row['betweenness'], row['harmonic'], row['eigenvector'], row['katz'], row['pagerank'], row['laplacian']))

for _, row in B_global.iterrows():
    cursor.execute("INSERT INTO G03B_global_indicators (period, node_num, edge_num, graph_density, bidirected_num, triad_030T_num, triad_030C_num, wcc_num, largest_wcc_node_num, largest_wcc_edge_num, diameter_undirected_largest_wcc, gcc, power_law_alpha) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
                   , (row['period'], row['node_num'], row['edge_num'], row['graph_density'], row['bidirected_num'], row['triad_030T_num'], row['triad_030C_num'], row['wcc_num'], row['largest_wcc_node_num'], row['largest_wcc_edge_num'], row['diameter_undirected_largest_wcc'], row['gcc'], row['power_law_alpha']))

for _, row in F_node.iterrows():
    cursor.execute("INSERT INTO G03F_attributes_centrality (id, 專利權人, 專利件數, 他人引證次數, 自我引證次數, 發明人數, 平均專利年齡, 活動年期, 相對研發能力, 國家, 時期, indegree, closeness, betweenness, harmonic, eigenvector, katz, pagerank, laplacian) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
                   , (row['id'], row['專利權人'], row['專利件數'], row['他人引證次數'], row['自我引證次數'], row['發明人數'], row['平均專利年齡'], row['活動年期'], row['相對研發能力'], row['國家'], row['時期'], row['indegree'], row['closeness'], row['betweenness'], row['harmonic'], row['eigenvector'], row['katz'], row['pagerank'], row['laplacian']))

for _, row in F_global.iterrows():
    cursor.execute("INSERT INTO G03F_global_indicators (period, node_num, edge_num, graph_density, bidirected_num, triad_030T_num, triad_030C_num, wcc_num, largest_wcc_node_num, largest_wcc_edge_num, diameter_undirected_largest_wcc, gcc, power_law_alpha) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
                   , (row['period'], row['node_num'], row['edge_num'], row['graph_density'], row['bidirected_num'], row['triad_030T_num'], row['triad_030C_num'], row['wcc_num'], row['largest_wcc_node_num'], row['largest_wcc_edge_num'], row['diameter_undirected_largest_wcc'], row['gcc'], row['power_law_alpha']))


# Commit the changes
conn.commit()

# Close the connection
cursor.close()
conn.close()

#### Update Tables: Add 'position_class' Column

We had updated 'G03B_attributes_centrality.csv' and 'G03F_attributes_centrality.csv' to include a node-level community-based network chracteristic, called 'position_class', and rename those files as 'G03B_attributes_centrality_position.csv' and 'G03F_attributes_centrality_position.csv'.

Now, we would like to update those changes to our tables in mysql database as well.

In [2]:
import pandas as pd

B_node = pd.read_csv(r"C:\Users\user\Documents\G03B_attribute_centrality_position.csv", index_col=0)
F_node = pd.read_csv(r"C:\Users\user\Documents\G03F_attribute_centrality_position.csv", index_col=0)

In [28]:
# replace na in B_node and F_node to 0
B_node = B_node.fillna("NULL")
F_node = F_node.fillna("NULL")

In [19]:
import mysql.connector

# Reconnect to the database
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="mysqlpassword", # change password
    database="Patent_Citation_Network"
)

# Create a cursor object
cursor = conn.cursor()

In [20]:
# add postion_class column to table G03B_attributes_centrality
cursor.execute("""
    ALTER TABLE G03B_attributes_centrality
    ADD COLUMN position_class VARCHAR(30)
                """)

In [21]:
# add postion_class column to table G03F_attributes_centrality
cursor.execute("""
    ALTER TABLE G03F_attributes_centrality
    ADD COLUMN position_class VARCHAR(30)
                """)

In [29]:
# pass values into new column in G03B_attributes_centrality
for i, row in B_node.iterrows():
    cursor.execute("""
        UPDATE G03B_attributes_centrality
        SET position_class = %s
        WHERE id = %s;
    """, (row['position_class'], i + 1))

In [30]:
# pass values into new column in G03F_attributes_centrality
for i, row in B_node.iterrows():
    cursor.execute("""
        UPDATE G03F_attributes_centrality
        SET position_class = %s
        WHERE id = %s;
    """, (row['position_class'], i + 1))

In [31]:
# Commit the changes
conn.commit()

# Close the connection
cursor.close()
conn.close()

### Using Jupyter Notebook %sql Magic to perform SQL Queries

In [1]:
# Load SQL extension
%load_ext sql

# Connect to the database using SQL magic
%sql mysql+mysqlconnector://root:mysql123@127.0.0.1/Patent_Citation_Network  # change *** to password

0 rows affected.

[]

In [2]:
%%sql
SHOW TABLES;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
5 rows affected.

[('combined_global_indicators',),
 ('g03b_global_indicators',),
 ('g03b_node_indicators',),
 ('g03f_global_indicators',),
 ('g03f_node_indicators',)]

In [34]:
%%sql
ALTER TABLE g03b_attributes_centrality
RENAME TO g03b_node_indicators

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
0 rows affected.

[]

In [35]:
%%sql
ALTER TABLE g03f_attributes_centrality
RENAME TO g03f_node_indicators

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
0 rows affected.

[]

#### Create a View combining G03B and G03F global indicator tables

In [6]:
%%sql
CREATE VIEW combined_global_indicators AS
SELECT *, 'G03B' AS ipc
FROM g03b_global_indicators
UNION ALL
SELECT *, 'G03F' AS ipc
FROM g03f_global_indicators;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
0 rows affected.

[]

In [9]:
%%sql
SELECT * FROM combined_global_indicators
ORDER BY period;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
8 rows affected.

[('2004_2008', 51, 57, Decimal('0.02235'), 10, 5, 0, 14, 36, 55, 7, Decimal('0.17368'), Decimal('2.70789'), 'G03B'),
 ('2004_2008', 20, 11, Decimal('0.02895'), 2, 1, 0, 11, 8, 9, 3, Decimal('0.18750'), Decimal('4.98916'), 'G03F'),
 ('2009_2013', 88, 364, Decimal('0.04754'), 146, 79, 20, 11, 77, 363, 5, Decimal('0.44542'), Decimal('8.23250'), 'G03B'),
 ('2009_2013', 44, 124, Decimal('0.06554'), 38, 27, 5, 3, 42, 124, 5, Decimal('0.33086'), Decimal('5.36053'), 'G03F'),
 ('2014_2018', 72, 153, Decimal('0.02993'), 48, 34, 3, 15, 49, 136, 6, Decimal('0.36440'), Decimal('2.45072'), 'G03B'),
 ('2014_2018', 40, 116, Decimal('0.07436'), 40, 25, 1, 7, 34, 116, 4, Decimal('0.38897'), Decimal('9.05054'), 'G03F'),
 ('2019_2022', 42, 45, Decimal('0.02613'), 12, 6, 3, 19, 24, 45, 6, Decimal('0.29508'), Decimal('3.09218'), 'G03B'),
 ('2019_2022', 34, 53, Decimal('0.04724'), 16, 8, 1, 7, 27, 52, 6, Decimal('0.32086'), Decimal('3.03292'), 'G03F')]

#### The Evolution Trend in G03B Tech Field

Using assignees, patents, inventors and cited times as indicators, the query result shows a clear and consistent trend of development in the G03B tech field. 
* The first period was the starting stage.
* The second period was a thriving stage, with all indicators peaking.
* The third period marked the maturity of the field, followed by a slight decline in all indicators.
* The fourth period represented the ending stage, with all four indicators significantly declining compared to the second and third periods.

In [3]:
%%sql
SELECT 時期, COUNT(DISTINCT 專利權人) AS assignee_count, 
SUM(專利件數) AS patent_sum, 
SUM(發明人數) AS inventor_sum, 
SUM(他人引證次數) AS citedtimes_sum
FROM g03b_node_indicators
GROUP BY 時期;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
4 rows affected.

[('2004_2008', 85, Decimal('1332'), Decimal('2034'), Decimal('129')),
 ('2009_2013', 101, Decimal('4072'), Decimal('4965'), Decimal('936')),
 ('2014_2018', 99, Decimal('3803'), Decimal('4637'), Decimal('463')),
 ('2019_2022', 80, Decimal('2103'), Decimal('2892'), Decimal('118'))]

Using community-based node-level network positions as indicators, a similar trend was discovered.

The 'largest community' category represents the mainstream of this tech field. The mainstream was most prominent in the second period, indicating intensive citation activity among firms and a convergence towards similar technological development directions, forming a large and dominant technological community.

The 'other community' category represents competing technological directions outside the mainstream. There were always some firms in this category, showing an inverse development trend compared to the mainstream.

The 'isolates' category has similarities to 'other community,' but the key difference is that the isolate firms had no interactions with firms in the largest component of the citation network. These firms were likely exploring technology directions significantly different from the mainstream, and hence, were not competing with firms in the mainstream or 'other community.' The number of these firms also showed an inverse pattern compared to the mainstream. They became the majority in the last period, indicating that the mainstream technology direction may have been well exploited, prompting many firms to explore alternative technology directions.

In [46]:
%%sql
SELECT position_class, 
    SUM(CASE WHEN 時期 = '2004_2008' THEN 1 ELSE 0 END) AS period_1, 
    SUM(CASE WHEN 時期 = '2009_2013' THEN 1 ELSE 0 END) AS period_2, 
    SUM(CASE WHEN 時期 = '2014_2018' THEN 1 ELSE 0 END) AS period_3,
    SUM(CASE WHEN 時期 = '2019_2022' THEN 1 ELSE 0 END) AS period_4
FROM g03b_node_indicators
GROUP BY position_class
HAVING position_class NOT LIKE 'NULL'
ORDER BY period_2 DESC
LIMIT 5;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
4 rows affected.

[('largest community', Decimal('9'), Decimal('66'), Decimal('31'), Decimal('14')),
 ('other community', Decimal('27'), Decimal('11'), Decimal('18'), Decimal('10')),
 ('isolate node', Decimal('11'), Decimal('9'), Decimal('11'), Decimal('18')),
 ('isolate community', Decimal('4'), Decimal('2'), Decimal('12'), Decimal('0'))]

#### Top 5 Countries: number of assignees

Taiwanese firms consistently rank third throughout all periods, with the US in first place and Japan in second. Chinese firms exhibit a rising trend, surpassing Korean firms in this field.

In [124]:
%%sql
SELECT 國家, 
    SUM(CASE WHEN 時期 = '2004_2008' THEN 1 ELSE 0 END) AS period_1, 
    SUM(CASE WHEN 時期 = '2009_2013' THEN 1 ELSE 0 END) AS period_2, 
    SUM(CASE WHEN 時期 = '2014_2018' THEN 1 ELSE 0 END) AS period_3,
    SUM(CASE WHEN 時期 = '2019_2022' THEN 1 ELSE 0 END) AS period_4
FROM g03b_node_indicators
GROUP BY 國家
ORDER BY period_4 DESC
LIMIT 5;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
5 rows affected.

[('US', Decimal('36'), Decimal('42'), Decimal('40'), Decimal('30')),
 ('JP', Decimal('28'), Decimal('31'), Decimal('28'), Decimal('24')),
 ('TW', Decimal('8'), Decimal('10'), Decimal('10'), Decimal('9')),
 ('CN', Decimal('1'), Decimal('4'), Decimal('6'), Decimal('6')),
 ('KR', Decimal('4'), Decimal('4'), Decimal('4'), Decimal('4'))]

#### Top 5 Countries: number of patents

The ranking of countries based on the number of patents differs significantly from the ranking based on the number of assignees.

* Japanese firms have far more patents in total than firms from any other country, indicating that this tech field is  dominated by Japanese firms.
* Although the US has the most assignees in this field, it ranks second in terms of the number of patents.
* The Netherlands and Germany each have only two assignees, but they rank third and fifth in total patents, respectively.
* While China and Korea rank fourth and fifth in the number of assignees, they both fall out of the top five in the patents ranking.

In [38]:
%%sql
SELECT 國家, SUM(專利件數) AS patent_num, COUNT(DISTINCT 專利權人) AS assignee_num
FROM g03b_node_indicators
GROUP BY 國家
ORDER BY patent_num DESC
LIMIT 5;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
5 rows affected.

[('JP', Decimal('6003'), 31),
 ('US', Decimal('1559'), 43),
 ('NL', Decimal('1375'), 2),
 ('TW', Decimal('843'), 10),
 ('DE', Decimal('554'), 2)]

#### Taiwanese Firm Assignees

Coretronic holds the most patents among all Taiwanese G03B patent assignees. Coretronic's attributes and centralities are significantly higher than those of all other Taiwanese firms in this technology field.

In [8]:
%%sql
SELECT 專利權人, 
SUM(專利件數) AS patent_sum,
SUM(發明人數) AS inventor_sum, 
SUM(他人引證次數) AS citedtimes_sum,
ROUND(AVG(betweenness),3) AS betweenness_avg,
ROUND(AVG(pagerank),3) AS pagerank_avg
FROM g03b_node_indicators
WHERE 國家 = 'TW'
GROUP BY 專利權人
ORDER BY patent_sum DESC;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
10 rows affected.

[('CORETRONIC', Decimal('357'), Decimal('347'), Decimal('39'), Decimal('0.021'), Decimal('0.035')),
 ('TAIWAN SEMICONDUCTOR MANUFACTURING', Decimal('114'), Decimal('258'), Decimal('0'), Decimal('0.000'), Decimal('0.005')),
 ('DELTA ELECTRONICS', Decimal('113'), Decimal('91'), Decimal('11'), Decimal('0.004'), Decimal('0.016')),
 ('QISDA', Decimal('62'), Decimal('89'), Decimal('0'), Decimal('0.000'), Decimal('0.005')),
 ('HON HAI PRECISION INDUSTRY', Decimal('50'), Decimal('69'), Decimal('9'), Decimal('0.004'), Decimal('0.006')),
 ('YOUNG OPTICS', Decimal('44'), Decimal('87'), Decimal('7'), Decimal('0.001'), Decimal('0.010')),
 ('TDK TAIWAN CORP', Decimal('37'), Decimal('55'), Decimal('4'), Decimal('0.000'), Decimal('0.006')),
 ('ALTEK', Decimal('27'), Decimal('33'), Decimal('3'), Decimal('0.000'), Decimal('0.002')),
 ('BENQ', Decimal('21'), Decimal('25'), Decimal('6'), Decimal('0.000'), Decimal('0.008')),
 ('INDUSTRIAL TECHNOLOGY RESEARCH INSTITUTE', Decimal('18'), Decimal('65'), Decimal('2'), Decimal('0.003'), Decimal('0.002'))]

#### Top 10 Assignees according to number of patents: second (peaking) period

The field is dominated by Japanese firms, with ASML and CARL ZEISS from the EU, and SAMSUNG ELECTRONICS from Korea being the only firms that can compete with Japanese firms.

In [9]:
%%sql
SELECT 專利權人, 專利件數, 國家, 時期 FROM g03b_node_indicators
WHERE 時期 = '2009_2013'
ORDER BY 專利件數 DESC
LIMIT 10;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
10 rows affected.

[('CANON', 431, 'JP', '2009_2013'),
 ('NIKON', 426, 'JP', '2009_2013'),
 ('ASML NETHERLANDS', 417, 'NL', '2009_2013'),
 ('SEIKO EPSON', 315, 'JP', '2009_2013'),
 ('PANASONIC', 178, 'JP', '2009_2013'),
 ('SAMSUNG ELECTRONICS', 173, 'KR', '2009_2013'),
 ('CARL ZEISS SMT', 166, 'DE', '2009_2013'),
 ('FUJIFILM', 130, 'JP', '2009_2013'),
 ('SONY', 119, 'JP', '2009_2013'),
 ('CASIO COMPUTER', 104, 'JP', '2009_2013')]

#### Top 10 Assignees according to number of patents: last (ending) period

Japanese firms remained dominant in the last period, but there were changes in the relative positions of other players. Taiwanese and Chinese firms emerged as significant players, while Korean and European firms somewhat receded, with ASML being the only European firm remaining among the top players.

In [14]:
%%sql
SELECT 專利權人, 專利件數, 國家, 時期 FROM g03b_node_indicators
WHERE 時期 = '2019_2022'
ORDER BY 專利件數 DESC
LIMIT 10;

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
10 rows affected.

[('SEIKO EPSON', 264, 'JP', '2019_2022'),
 ('CANON', 241, 'JP', '2019_2022'),
 ('CORETRONIC', 238, 'TW', '2019_2022'),
 ('SONY', 132, 'JP', '2019_2022'),
 ('ASML NETHERLANDS', 122, 'NL', '2019_2022'),
 ('FUJIFILM', 94, 'JP', '2019_2022'),
 ('PANASONIC', 85, 'JP', '2019_2022'),
 ('SZ DJI TECHNOLOGY', 72, 'CN', '2019_2022'),
 ('NIKON', 61, 'JP', '2019_2022'),
 ('APPOTRONICS', 49, 'CN', '2019_2022')]

#### Firm with the highest betweenness centrality in each period

In [132]:
%%sql
SELECT 專利權人, 時期, 國家, betweenness 
FROM g03b_node_indicators AS t1
WHERE betweenness = (SELECT MAX(betweenness) 
                     FROM g03b_node_indicators AS t2
                     WHERE t1.時期 = t2.時期);

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
4 rows affected.

[('SEIKO EPSON', '2004_2008', 'JP', Decimal('0.07714')),
 ('SEIKO EPSON', '2009_2013', 'JP', Decimal('0.14626')),
 ('SEIKO EPSON', '2014_2018', 'JP', Decimal('0.04594')),
 ('CORETRONIC', '2019_2022', 'TW', Decimal('0.05422'))]

#### Firm with the highest pagerank centrality in each period

In [134]:
%%sql
SELECT 專利權人, 時期, 國家, pagerank 
FROM g03b_node_indicators AS t1
WHERE pagerank = (SELECT MAX(pagerank) 
                     FROM g03b_node_indicators AS t2
                     WHERE t1.時期 = t2.時期);

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
4 rows affected.

[('ASML NETHERLANDS', '2004_2008', 'NL', Decimal('0.08786')),
 ('NIKON', '2009_2013', 'JP', Decimal('0.12352')),
 ('PANASONIC', '2014_2018', 'JP', Decimal('0.05765')),
 ('CORETRONIC', '2019_2022', 'TW', Decimal('0.09382'))]

#### Firm with the highest laplacian centrality in each period

In [135]:
%%sql
SELECT 專利權人, 時期, 國家, laplacian 
FROM g03b_node_indicators AS t1
WHERE laplacian = (SELECT MAX(laplacian) 
                     FROM g03b_node_indicators AS t2
                     WHERE t1.時期 = t2.時期);

 * mysql+mysqlconnector://root:***@127.0.0.1/Patent_Citation_Network
4 rows affected.

[('ASML NETHERLANDS', '2004_2008', 'NL', Decimal('0.09472')),
 ('SEIKO EPSON', '2009_2013', 'JP', Decimal('0.05580')),
 ('DAI NIPPON PRINTING', '2014_2018', 'JP', Decimal('0.06364')),
 ('CORETRONIC', '2019_2022', 'TW', Decimal('0.10612'))]

#### Findings from centrality indicators

In the last period, the Taiwanese firm Coretronic exhibited the highest betweenness, PageRank, and Laplacian centrality. This suggest that Coretronic had moved to a central position in the field, with many firms either exiting the field or shifting focus to explore other technological directions.